<!--Register Node Type-->

<style>
    .whiteColor {
        fill: #000;
        font-family:Nunito Regular;
    }
</style>

<script type="text/javascript">
    RED.nodes.registerType('SE_Machine_Advisor', {
        category: "Cloud Storage",
        color: "#fff",
        labelStyle: function() {
                return this.name?"whiteColor":"";
            },
        defaults: {
            name: { value: "SEMachineAdvisor" },
			version: {value: "0.0.1"},
            server: { value: "", required: true },
            customheader2: { value: "", required: true },
            useProxy: { value: "no" },
            proxy: { value: "" },
            timeout:{value:"120",required: !0,validate: function(val){
                if(RED.validators.number() && (val >= 5 && val <= 65535)){
                    return true;
                 }
                 else{
                    alert("SEMachineAdvisor: Incorrect value for Timeout Field"); 
                    return true;
                 }
              }
            },
            
            logging: {value:"1" },
            loggingLevel: {value:"error" }, 
        },
        inputs: 1,
        outputs: 1,
        icon: "machineAdvisor.png",
        align: "left",
        paletteLabel: "SEMachineAdvisor",
        label: function () {
            return this.name || "";
        },
        
        oneditprepare: function () {
            let node = this;
            let useProxySelector = $('#node-input-useProxy')
            let inputProxy = $("#proxydivision")

            useProxySelector.change(function () {
                if (useProxySelector.val() == 'yes') {
                    inputProxy.show();
                    node.proxy.required = true;
                }
                else {
                    inputProxy.hide();
                    node.proxy.required = false;                    
                }
            })
        }
    });

</script>

<script type="text/x-red" data-template-name="SE_Machine_Advisor">
    <div style="background:#32963f !important; height:25px;padding:5px;"> 
        <label style="color:white !important; font-weight:bold !important; margin-left:35%;margin-top:1%"> Schneider Electric </label> 
    </div>
	<!--Page Break-->
    <br>
    
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
	<div class="form-row">
        <for="node-input-version">
    </div>
    <div class="form-row">
        <label for="node-input-server"><i class="fa fa-external-link"></i> Server</label>
        <input type="text" id="node-input-server" placeholder="Machine Advisor Server">
    </div>
    <div class="form-row">
        <label for="node-input-customheader2"><i class="fa fa-circle"></i> Custom Header 2</label>
        <input type="text" id="node-input-customheader2" placeholder="Machihne Advisor Custom Header 2">
    </div>
    <div class="form-row">
        <label for="node-input-useProxy"><i class="fa fa-random"></i> Use Proxy</label>
        <select type='text' id='node-input-useProxy'> 
            <option value='yes'>Yes</option>
            <option value='no' select>No</option> 
        </select>
    </div>
    <div class="form-row" id="proxydivision">
        <label for="node-input-proxy"><i class="fa fa-external-link"></i> Proxy</label>
        <input type="text" id="node-input-proxy" placeholder="Proxy for the gateway">
    </div>

    <div class="form-row">
        <label for="node-input-timeout"><i class="icon-bookmark"></i> Timeout </label>
        <input type="number" id="node-input-timeout" placeholder="5-65535" style="max-width:120px" min = 5 max = 65535>
        <label id="node-input-timeUnit" style="max-width:160px">
            <option value="s">second(s)</option>
        </select>
    </div>

    <div class="form-row">
        <label for="node-input-logging"><i class="fa fa-random"></i> Logging</label>
        <select type='text' id='node-input-logging'> 
            <option value="1">Enable</option>
            <option value="2">Disable</option>
        </select>
    </div>

    <div class="form-row" id="loggingDivision">
    
        <div class="form-row">
            <label for="node-input-loggingLevel"><i class="fa fa-random"></i> Level</label>
            <select type='text' id='node-input-loggingLevel'> 
                <option value="error">error</option>
                <option value="info">info</option>
                <option value="debug">debug</option>
            </select>
        </div>

    </div>

    
</script>

<script type="text/x-red" data-help-name="SE_Machine_Advisor">
    <div style="background:#32963f !important; height:25px;padding:5px;"> 
        <label style="color:white !important; font-weight:bold !important; margin-left:35%;margin-top:1%"> Schneider Electric </label> 
    </div>
	
	<!--Page Break-->
  
    
    <p> Introduction </br> 
    Connects to a Machine Advisor Cloud and pushes the data when the input is received.</p>
    <p>
     <h3>Below are the necessary configurations required.</h3>
     <ul>
       <li>Server: Text field to provide the server link of Machine Advisor where data will be pushed. </li>
		<li>Header 2: Header 2 of Machine Advisor.</li>
		<li>Use Proxy:Proxy in case of network restriction. Its default value is "No". </li>
		<li>Timeout:integer containing the number of seconds or minutes to wait for a server to send response 
				headers (and start the response  body) before aborting the request. Note that if the underlying TCP connection cannot be established, the OS-wide TCP connection timeout will overrule the Timeout option.</li>
		<li>Logging: Configuration parameter to Enable or Disable the logging. Logging is by default Enabled.</li>
		<li>Level : Configuration parameter for selecting the logging level.There are three logging levels- Info, Debug and Error. Its default value is Error.</li>
     </ul>
    </p>
		<p> Below is input/output details for SEMachineAdvisor node.</p>
		 <h3>Input</h3>
		<p>  Json Data: As per the Machine Advisor specifications. </p>
			
		<pre><code> Format Tango
     Tango is a json format that Machine Advisor supports
     {
       "ID":"prefix string", 
        "TS":"Timestamp string", 
        "ST":"Start Adress number", 
        "VR":"Array of numbers"
      }
      Example:
      {
       "ID":"SampleID", 
        "TS":"18/01/2018 07:13:00", 
        "ST":"200", 
        "VR":[123.4,5000,-100]
      }
		</code></pre>
		<pre><code> Format Charlie
    Charlie is a json format that Machine Advisor supports
    {
      "metrics": {
        "assetName": "prefix string",
        "Variable1": "number",
        "Variable1_timestamp": "Epoc Time for Variable1",
        "Variable2": "number",
        "Variable2_timestamp": "Epoc Time for Variable2"
      }
    }
    Example:
    {
      "metrics": {
        "assetName": "M241",
        "Variable1": 99,
        "Variable1_timestamp": 1524579710733,
        "Variable2": 88,
        "Variable2_timestamp": 1524579710733
     }
    }</code></pre>
    
	<h3>Output</h3>
  <li>Cloud response status code in case of successful data push. </li>
  <li>Failure message if data push is not  successful. </li>
    
 <h3>Prerequisite</h3>   
  <li>A 64 bit machine, Windows or Linux.</li>
  <li>Node.js version 6.11.0 and above.</li>
  <li> Node-RED server.</li>
  <li>Any latest web browser with V8 engine(Advisabe chrome and firefox).</li>
  <li>Machine Advisor Account.  </li>
   
 <h3>Installation</h3>

 Use the below command to install Node-RED server. Restart the Node-RED server after installing the node.

<h3>Windows</h3>
  1. Install Node.js software version 6.11.0 and above. It can be downloaded from below link.</br>
     	https://nodejs.org/en/  </br>
  2. Install Node-RED. Run "npm install -g node-red" command on command prompt. </br>
  3. Install Git software. It can be downloaded from below link. </br>
  		https://git-scm.com/ </br>
  4. npm install git+https://git@bitbucket.org/ecostruxure/se-node-red-machine_advisor.git </br>

<h3>Linux</h3>
  1. Install Node.js software. Follow the procedure mentioned in the below link. </br>
  		https://nodejs.org/en/download/package-manager/  </br>
  2. Install Node-RED.Run "sudo npm install -g --unsafe-perm node-red" command on Linux terminal. </br>
   3. Install Git software. It can be downloaded from below link. </br>
  		https://git-scm.com/ </br>
  4. sudo npm install git+https://git@bitbucket.org/ecostruxure/se-node-red-machine_advisor.git</br>

<p> Uninstallation</p>
Use the below command to uninstall se-node-red-machine_advisor package for Linux and windows platform. </br>
<code> npm uninstall se-node-red-machine_advisor </code>
 If SEMachineAdvisor is present in node flow follow these steps to uninstall </p>		
		<ul>
			<li>Delete the nodes from the flow. </li>
			<li>Run the uninstall command (npm uninstall se-node-red-machine_advisor).</li>
			<li>After uninstallation restart the Node-RED server.</li>
			<li>Copy the server address of Machine Advisor Monitor Configuration where data to be pushed.</li>
			<li>Copy the header 2 from Machine Advisor Monitor Configuration machine.</li>
			<li>Configure Proxy in case of network restriction. Its default value is no.</li>
			<li>Inject input data to node.</li>
		</ul>
		<p>  Dependencies</p>
		This module depends on the following modules:</br>
		<ul>
			<li>jsonfile</li>
			<li>request</li>
			<li>winston</li>
		</ul>
		<h2 id="known-issues">Known Issues</h2>
		None</br>
		<h2 id="limitation">Limitation</h2>
		Timeout - integer containing the number of milliseconds to wait for a server to send response headers (and start the response body) 
			  before aborting the request. Note that if the underlying TCP connection cannot be established, the OS-wide TCP connection timeout will 
			  overrule the timeout option.For example timeout overrule may happen when user configures the proxy field of node and network has no proxy.</br>
		<h2 id="additional-information">Additional Information</h2>
		<ul>
			<li>User must have Machine Advisor Account.</li>
			<li>User must have created new Machine and access to Monitor Configuration .</li>
			<li>Log file is saved inside the log folder.Log folder is creted if logging is enabled inside node folder of existing installed
				<br/>
				    se-node-red-machine_advisor.Log file is saved with name MachineAdvisor.log and MachineAdvisor1.log(Backup).
			</li>
			<li>The log file size is fixed to 5MB. Once the 5MB limit is crossed a new log file is created and the previous file is preserved as
				<br/>
				     backup.If this new file again reaches 5MB the existing backup file is first deleted and then the current file is preserved as
				<br/>
				     backup and a new file is created.This procedure is always repeated and the total space consumed would never cross 10MB.
				Eg: MachineAdvisor.log-created
			</li>
			<ul>
				<li>file1- reaches 5mb- file2 - created -File1 is backup file</li>
				<li>file2 reaches 5mb - File1 is deleted - File2 is made backup file and file3 is created.</li>
			</ul>
			<li>If seleted Level in logging is error only error messages are logged.If selected level in logging is info both error and info messages are logged.
				If selected level in logging is debug all log messages error , info and debug are logged.
				<br/>
			</li>
			<li>File size is 5MB for all the se-node-red-machine_advisor in the flow. 
				Logs can be diffrentiated by node ID in the Log file.</li>
			<li>User should not delete the log file if node red server is running, It will stop the data logging. 
				If by mistake user delete the current log file, user need to restart the server to start file logging again. </li>
			<li>Time stamp for any node in the log file may differ from the time stamp in debug window.
				<br/>
			</li>
			<li>Validation for minimum and maximum node name length is not implemented.
				<br/>
			</li>
		</ul>
		<h2 id="references">References</h2><a href="https://machine-advisor.schneider-electric.com/" target="_blank"> https://machine-advisor.schneider-electric.com/</a></br> 
		<h2 id="contributers">Contributers</h2>
		<ul>
			<li>Ramón Antonio Hormigo Luque (ramon-antonio.hormigo@schneider-electric.com)</li>
			<li>Fernando Sanchez (fernando.miravalles@schneider-electric.com)</li>
		</ul>
		<h2 id="history">History</h2>
		<ul>
			<li>0.0.1 : A Node-RED Package for Machine Advisor cloud.</li>
		</ul>
    
</script>